/* Variables */

// Color-palette

$gray-primary: #737373;
$blue-primary: #3873b3;

// Color

$color-font: #000000;
$color-font-title: $blue-primary;
$color-font-info: $gray-primary;
$color-border-img: $blue-primary;

//font
$font-family-default: "Arapey", Serif;

//width
$width-min-media: 992px;
