<article class="section">
    <header class="section-header">
        <div class="left-info">
            <div class="line"></div>
        </div>
        <h4 class="right-info">{{title}}</h4>
    </header>
    <div class="section-content">
    {{#each items}}
    {{> subsection_element sideNote=year description=description title=field place=name city=city }}
    {{/each}}
    </div>
</article>
